<div class="row">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4">
  <%= form_for @profile, url: {action: "update"}  do |f| %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :website %>
      <%= f.text_field :website, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :bio %>
      <%= f.text_field :bio, class: 'form-control'%>
    </div>
    <div class="form-group">
      <%= f.label :phone_no%>
      <%= f.text_field :phone_number, class: 'form-control'%>
    </div>

    <div class="form-group">
      <%= f.label :image %>
      <%= f.file_field :image, class: 'form-control'%>
    </div>

    <%= f.submit 'Submit', class: 'btn btn-outline-secondary' %>
  <% end %>
  </div>
  <div class="col-sm-4">
  </div>
</div>