<div class="login-div">
	<%=render "shared/logo"%>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="fields">
      
      <div class="user-input user-input">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
      </div>
      <div class="pass-input user-input">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %> <br/>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
      </div>
      <div class="pass-input user-input">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password" %>
      </div>
      <% resource.build_profile%>
      <%= f.fields_for :profile  do |p|%>
        <div class="pass-input user-input">
          <%= p.label :name %><br/>
          <%= p.text_field :name, placeholder: "Name" %>
        </div>
        <div class="pass-input user-input">
          <%= p.label :username %><br/>
          <%= p.text_field :username, placeholder: "Username" %>
        </div>
        <div class="pass-input user-input">
          <%= p.label :website %> <br/>
          <%= p.text_field :website, placeholder: "Website" %>
        </div>
        <div class="pass-input user-input">  
          <%= p.label :phone_no %> <br/>
          <%= p.text_field :phone_number, placeholder: "Phone Number"%>
        </div>
      <%end%>

      <div class="actions signin-button">
        <%= f.submit "Register" %>
      </div>
    </div>
  <%end%>
  <div class="link">
		<%= render "devise/shared/links" %>
	</div>
</div>

