<div class="row">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-6">
    <% @results.each do |profile| %>
      <div class="card m-3 border-1 ">
        <div class="row no-gutters">
          <div class="col-md-4">
              <%if profile.image.length > 0 %>
                <%= image_tag(profile.image.last.image.url(:small), class: 'media-object img-size rounded-circle', size: '150x150') %>
              <%end%>
          </div>
          <div class="col-md-8">
            <div class="card-body row m-0 p-0">
              <div class="col-sm-6 m-0 p-0">
                <h4 class="card-title m-0 p-0"><%=link_to profile.username, profile_path(profile), class: 'text-dark'%></h4>
              </div>
              <div class="col-sm-6">
                <%#= button_to 'Edit Profile', edit_profile_path(current_user), class: "btn btn-default border", method: :get  %>
              </div>
            </div>
            <p class="text-muted font-weight-bold"><%=profile.name%></p>
            <p class="text-muted card-text font-weight-lighter"><%=profile.bio%></p>
          </div>
        </div>
      </div>
    <%end%>
  </div>
  <div class="col-sm-2">
  </div>
</div>




<h3>Search Results:</h3>
<ul>
  <% @results.each do |result| %>
  <li>
    <%= link_to result.username, profile_path(result) %>
  </li>
  <%end%>
</ul>