  <%if params[:status] != "declined"%>
    <div class="row m-2 p-0 mb-2", id="follow_request<%=user.id%>">
      <div class="col-sm-2 p-0 m-0">
            <%= image_tag(user.profile.image.last.image.url(:small), alt: "Image", size:'50x50', class:'rounded-circle')%>
      </div>
      <div class="col-sm-5 p-0 m-0">
            <%= link_to "#{user.profile.username}", profile_path(user), class: 'text-dark font-weight-bold' %>
      </div>
      <div class="col-sm-5 p-0 m-0">
        <div class="row">
          <div class="col-sm-6">
            <%= button_to "Decline", request_path(user_id: user.id, status: :declined), class: "btn btn-outline-danger", :method => :post, remote: :true %>
          </div>
          <div class="col-sm-6">
            <%= button_to "Accept", relationships_path(user_id: user.id), class: "btn btn-outline-success", :method => :post %>
          </div>
        </div>
      </div>
    </div>
  <%else%>
    <h6 class="text-muted">There are no Follow Request for you ! </h6>
  <%end%>