<div class="container-1">
  
  <div class="left-box">
  </div>
  
  <div class="feed">
    <div class="allpost">
       <% @posts.each do |post|%>
          <% if current_user.followed?(post.user.id)%>
            <%= render partial: 'layouts/postcard', locals: {post: post}%>   
          <%end%>   
        <%end%>
    </div>
  </div>
  
  <div class="interaction">
    <div class="user-profile">
      <div class="dpimage">
        Image
      </div>
      <div class="uname">
        <strong> Username</strong>
      </div>
    </div>
    <div class="quick"> <strong><p> Quick Access </p> </strong> </div>
    <div class="quick-access">
      <%= link_to 'Create Post', new_post_path, class: "btn btn-primary" %>
      <%= link_to 'Edit Profile', edit_profile_path(current_user), class: "btn btn-primary"  %>
    </div>
    <div class="suggested">
      <strong> Suggested Peoples </strong>
         <%@users.each do |user|%>  
          <% if user.id != current_user.id %> 
          <% if current_user.followed?(user.id) %>
            <%= button_to "Unfollow", relationship_path(user_id: user.id), class: "btn btn-primary", :method => :post%>
          <%else%>
            <%= button_to "Follow", relationships_path(user_id: user.id), class: "btn btn-primary", :method => :post%>
          <%end%>
        <%end%> 
          <br>  
      <%end %>
    </div>
  </div>
  
  <div class="right-box">
  </div>

</div>



 