<div class="row mt-4">
  <div class="col-sm-2">
  </div>
  <div class=col-sm-8>  
    <div class="row"> 
      <div class="col-sm-7"> 
        <%= render partial: 'layouts/carousel', locals: {post: @post}, class:"card-img-top"%>
      </div>
      <div class="col-sm-5">
        <div class="card  bg-white" style="width: 18rem;">
         <div class="card-body">
            <h5 class="card-title"><%=@post.title%></h5>
            <p class="card-text"><%=@post.description%></p>
          </div>
          <div class="card-body row">
            <div class="col-sm-6">
              <strong><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></strong>
            </div>
            <div class="col-sm-6">
              <div id="likeunlike">
                <% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
                <% if pre_like %> 
                  <%= button_to  post_like_path(@post, pre_like), class: "btn btn-small", method: :delete, remote: true do %> 
                    <i class="fa fa-heart fa-2x unlike"> </i> 
                  <%end%>
                <%else %> 
                  <%= button_to post_likes_path(@post), method: :post, class: "btn btn-small", remote: true do %>
                    <i class="fa fa-heart-o fa-2x"> </i>
                  <%end%>
                <%end%>
              </div>    
            </div>
          </div>
          <div class="list-group list-group-flush">
            <div class="reply">
              <%= form_with(model: [@post, @post.comments.build] ,placeholder: "Add Comments...", local: true) do |form| %>
                <%= form.text_field :body, class: 'comment-box m-1' %>
                <%= form.submit "Comment", class: 'btn btn-outline-secondary'%>
              <% end %>
            </div>
            <div class="list-group-item">
              <% post_comments = @post.comments.find_all { |comment| comment.id != nil} %>
              <%= render partial: 'comments/comments', collection: post_comments %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
  </div>
</div>

