<div class="showpage">
  <div class="photo">
    <% @post.images.each do |img|%>
    <div class="img">  
      <%= image_tag(img.image.url(:medium), class: 'media-object img-size'), img.image.url(:medium), target: '_blank' %>
    </div>
    <%end%>
  </div>

  <div class="description">
    <div class="col-md-4">
      <p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>

      <% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
      <% if pre_like %>
        <%= button_to 'Unlike', post_like_path(@post), method: :delete %>
      <% else %>
        <%= button_to 'Like', post_likes_path(@post), method: :post %>
      <% end %>

      <div class="reply">
        <%= form_with(model: [@post, @post.comments.build] ,placeholder: "Add Comments...", local: true) do |form| %>
          <%= form.text_field :body %><br>
          <%= form.submit %><br>
        <% end %>
      </div>
      
      <% post_comments = @post.comments.find_all { |comment| comment.id != nil} %>
      <%= render partial: 'comments/comments', collection: post_comments %>
    </div>
  </div>
</div> 
