<!-- <div class="login-div">
  <%= render "shared/logo" %>
	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  	<div class="fields">
			<div class="user-input">
  	  	<%= f.label :email %><br />
  	  	<%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
  		</div>
			<div class="pass-input">
  	  	<%= f.label :password %><br />
  	  	<%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
  		</div>
			<% if devise_mapping.rememberable? %>
  	    <div class="field">
  	   	 <%= f.check_box :remember_me %>
  	   	 <%= f.label :remember_me %>
  	    </div>
  	  <% end %>
			<div class="actions signin-button">
  	  	<%= f.submit "Log in" %>
  		</div> 
		</div>
	<%end%>
	<%= render partial: "devise/shared/links" %>
</div> -->

<div class="row login">
	<%= render "shared/logo" %>
	<div class="border-right">
	  <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'px-4 py-3 pt-3') do |f| %>
  	<div class="fields mr-2">
			<div class="form-group">
  	  	<%= f.label :email , class: 'text-secondary'%><br />
  	  	<%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: 'form-control'%>
  		</div>
			<div class="form-group">
  	  	<%= f.label :password, class:'text-secondary' %><br />
  	  	<%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class:'form-control' %>
  		</div>
			<% if devise_mapping.rememberable? %>
  	    <div class="text-secondary">
  	   	 <%= f.check_box :remember_me %>
  	   	 <%= f.label :remember_me %>
  	    </div>
  	  <% end %>
			<div class="actions signin-button">
  	  	<%= f.submit "Log in", class: 'btn btn-outline-secondary' %>
  		</div> 
		</div>
	<%end%>
	<div class="dropdown-divider"></div>
	  <%= render partial: "devise/shared/links" %>
	</div>
</div>