<div class="row">  
  <div id="demo<%=post.id%>" class="carousel slide" data-ride="carousel">
    <!-- The slideshow -->
    <div class="carousel-inner">
      <%post.images.each_with_index do |img, index| %>
        <%if index==0%>
          <div class="carousel-item active">
            <%= image_tag(img.image.url(:medium), alt: "Image", size:'600x600')%>
          </div>
        <%else%>
          <div class="carousel-item">
          <%= image_tag(img.image.url(:medium), alt: "Image")%>
          </div>
        <%end%>
      <%end%>
    </div>
      <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo<%=post.id%>" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo<%=post.id%>" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</div>
