
<div class="postcard">
  <div class="title">
    <div class="display">
      <div class="dp">
      </div> 
      <div class="username">
        <%=post.user&.profile&.name || 'Default Username'%>
      </div>
    </div>
  </div>
  <div class="post">
    <% post.images.each do |img|%>
      <%= link_to image_tag(img.image.url(:small), class: 'media-object'), img.image.url(:small), target: '_blank' %>
    <%end%>
  </div>
  <div class="interact">
    <a href="#" class="btn btn-primary scale">Like</a>
    <%= link_to 'See Full Post', post_path(:id => post.id), :class => "btn btn-primary" %>
    <%= link_to 'Destroy',{action: :destroy, id: post.id }, method: :delete, :class => "btn btn-primary", data: { confirm: 'Are you sure?' } %>
  </div>
 </div>
<div class="fence">
</div> 











<!-- 

 <div class="card postsize" style="background-color=grey;">
  <div class="card-header">
    <%=post.user&.profile&.username || 'Default Username'%>
  </div>
  <div class="card-body">
    <% post.images.each do |img|%>
      <%= link_to image_tag(img.image.url(:thumb), class: 'media-object'), img.image.url(:thumb), target: '_blank' %>
    <%end%>
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">Updated At</p>
    <p class="card-text">Caption</p>
    <a href="#" class="btn btn-primary">Like</a>
    <%= link_to 'See Full Post', post_path(:id => post.id), :class => "btn btn-primary" %>
    <%= link_to 'Destroy',{action: :destroy, id: post.id }, method: :delete, :class => "btn btn-primary", data: { confirm: 'Are you sure?' } %>
  </div>
</div>
<div class="fence">
</div>

-->

