  

<div class="card mr-auto ml-auto pl-auto pr-auto">
  <%= render partial: 'layouts/postcardhead', locals: {post: post} %>
  <%= render partial: 'layouts/carousel', locals: {post: post} %>
  <%= render partial: 'layouts/postcardfooter', locals: {post: post} %>
  <%= render partial: 'layouts/postcarddetails', locals: {post: post} %>
  <%= render partial: 'layouts/commentbox', locals: {post: post} %>
    <%# post_comment = post.comments.find_all { |comment| comment.id != nil} %>
    <%#= render partial: 'comments/comments', collection: post_comment %>
</div>
