<div class="card w-100 h-25 p-20 mt-5 sticky-top">
  <%= render partial: 'layouts/postcardhead', locals: {post: @posts.first}%>
  
  <div class="row card-body ">
    <h5 class="card-title font-weight-light "> <%=current_user.profile.name%> </h5>
  </div>

  <div class="row card-body">
    <div class="col-sm-6">
      <%= button_to 'Create Post',new_post_path, method: :get, class: "btn btn-outline-secondary " %>
    </div>
    <div class="col-sm-6">
      <%= button_to 'Edit Profile',edit_profile_path(current_user), method: :get, class: "btn btn-outline-secondary" %>
    </div>
  </div>
  <%= render partial: 'layouts/suggested'%>
  <%= render partial: 'layouts/footerdetails'%>
</div>